@model MVCForum.Website.ViewModels.DoctorViewModel
@using MVCForum.Domain.DomainModel    
@{
    ViewBag.Title = "Tạo hồ sơ Bác sĩ";
    Layout = "~/Views/Shared/FrontEnd/_LayoutBenhvien.cshtml";
}
<link href="~/Content/assets/css/loading.css" rel="stylesheet" />

<div class="main-content">





    <section class="page-title" style="background-image: url('http://cdn1.medihub.vn/uploads/images/2017/07/16/hero-slide2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-title-content">
                    <h2 class="title line-bottom line-left">Nhập thông tin bác sĩ</h2>
                </div>
            </div>
        </div>
    </section>



    <div class="box-layout">
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Nhập thông tin bác sĩ</a></li>

        </ol>
        <section class="team-section go_pt ao_pb">
            <div class="container">
                <div class="row">
                    <form id="CreateOrUpdateDoctor" enctype="multipart/form-data" data-abide novalidate>
                        <div class="col-xs-12 col-sm-12 col-md-8 result">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb">
                                        <div class="form-group">
                                            <input id="f" type="file" name="Files" onchange="file_change(this)" style="display: none" />
                                            <img style="display: none" />
                                            <img id="img" src="/Content/assets/images/avt.jpg" style="display:block; width: 100%; height: 100%;">
                                            <input class="bttn" type="button" value="Chọn ảnh" onclick="document.getElementById('f').click()" />
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="content">

                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <h3 class="name">Tên bác sĩ</h3>
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Tên bác sĩ" })

                                        </div>
                                        <div class="form-group">


                                            <h5 class="occupation">Chọn Khoa/ Phòng</h5>
                                            <div class="form-group">
                                                @*@Html.Partial("FrontEnd/_Phongban")*@
                                                <select class="select-input form-control" name="DepartmentManage_Id" id="departmentManage">
                                                    <option value="" disabled selected="selected">Chọn Khoa/ Phòng</option>
                                                    @foreach (var item in ViewBag.ListDepartment)
                                                    {
                                                        if (item.ParentDepartment == null)
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="occupation">Chuyên khoa</h5>
                                            <select class="select-input form-control" name="DepartmentId" id="deparment">
                                                <option value="" disabled selected="selected">Chọn Chuyên khoa/ Phòng</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="occupation">Chuyên khoa</h5>
                                            @Html.TextBoxFor(x => x.Specicality, new { @class = "form-control", placeholder = "Chuyên khoa" })
                                        </div>
                                        <div class="form-group">
                                            <h5 class="occupation">Học vị</h5>
                                            @Html.TextBoxFor(x => x.BoardCertifications, new { @class = "form-control", placeholder = "Học hàm/ học vị" })
                                        </div>
                                        <div class="form-group">
                                            <h5 class="occupation">Chức vụ</h5>
                                            @Html.TextBoxFor(x => x.PositionName, new { @class = "form-control", placeholder = "Chức vụ" })
                                        </div>
                                        <div class="form-group">
                                            <h5 class="occupation">Quá trình công tác</h5>
                                            @Html.TextAreaFor(x => x.DescriptionHistory, new { @class = "form-control", @rows = 7 })
                                        </div>

                                        <button type="button" onclick="AjaxSubmitDoctorForm()" class="btn btn-primary" id="butSaveDoctor">
                                            Lưu &nbsp;
                                            <i class="fa fa-bookmark" style="font-size:18px"></i>
                                        </button>
                                        <div class="loading-spinner hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        @*@Html.Action("SearchDoctorForm", "Doctor")
                            @Html.Action("Images", "Topic")*@
                    </div>

                </div>


            </div>

        </section>


    </div>

    <!--Main Content end-->
</div>
<script src="~/Content/assets/plugins/jquery-2.1.4.min.js"></script>
<script>
    function AjaxSubmitDoctorForm() {
        $("#butSaveDoctor").attr("disabled", "disabled");
        $(".loading-spinner").removeClass("hidden");
        var formData = new FormData($('#CreateOrUpdateDoctor')[0]);
        formData.append("Specicality", $("#deparment option:selected").text());
        formData.append("Department", $("#deparment option:selected").text());
        console.log('formData', formData);
        $.ajax({
            url: '/Doctor/CreateDoctor',
            type: 'POST',
            data: formData, // serializes the form's elements.
            contentType: false,
            processData: false,
            success: function (response) {

                if (response != null) {
                    if (!response.Result) {
                        //$("#Register-dangky").attr("disabled", "");
                        $('#butSaveDoctor').removeAttr("disabled");
                        alert(response.Message) ;
                        //swal("Tạo Profile Bác sĩ", response.Message, "warning");
                        $(".loading-spinner").addClass("hidden");
                    } else {

                        //swal("Tạo Profile Bác sĩ ", response.Message, "success");
                        alert(response.Message);
                        $(".loading-spinner").addClass("hidden");
                        setTimeout(function () {


                            window.location.href = window.location.href;

                            //End
                        }, 5000);

                    }
                }
            },
            fail: function () {

            }
        });
    };
    var department = @Html.Raw(MVCForum.Utilities.JsonHelper.SerializeObject((ViewBag.ListDepartment as List<Department>).Where(x=>x.ParentDepartment!=null).Select(x => new {Id=x.Id,Name=x.Name, ParentDepartment=x.ParentDepartment.Id}).ToList()));
    $("#departmentManage").on("change", function () {
        var id = this.value;
        $("#deparment").html('<option value="" selected="selected">Chọn Chuyên khoa/ Phòng</option>');
        $.each(department, function (key, value) {
            if (id == value.ParentDepartment) {
                $('#deparment')
                    .append($("<option></option>")
                        .attr("value", value.Id)
                        .text(value.Name));
            }
        });
    });

</script>