@model IEnumerable<MVCForum.Domain.DomainModel.Entities.Banner>

@{
    ViewBag.Title = "Quản Lý Banner";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@Html.Partial("_NavButtons")
<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Hình Ảnh</th>
                    <th>Loại</th>
                    <th>Link Website</th>
                    <th>Số thứ tự</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                    </td>
                    <td>
                        <a href="@item.ImageLink" target="_blank">Xem hình</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LinkWeb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>