@model MVCForum.Website.Areas.Admin.ViewModels.SoyteModel
@{
    ViewBag.Title = "Create Info";
}



<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("CreateInfoSoyte", "Common", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()

            <div class="row">
               
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Type)
                        @Html.DropDownListFor(model => model.Type, Model.AllTypes, new { @class = "form-control" })

                    </div>
                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextAreaFor(model => model.Name, new { @class = "form-control",@row = 3 })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Url)
                        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Url)
                    </div>
               
                    <div class="submit-holder">
                        <input type="submit" class="btn-mvc-green btn-mvc-large" value="Create" />
                    </div>
                </div>
        }
    </div>
</div>

