@model MVCForum.Website.Areas.Admin.ViewModels.MedicalPackageViewModel
@{
    ViewBag.Title = "Tạo Mới Gói Khám Bệnh";
}


@Html.Partial("_MedicalPackageNavButtons")

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("CreateMedicalPackage", "Common", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()

            @Html.Partial("_MedicalPackageFields", Model)

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Create" />
            </div>
        }
    </div>
</div>