@model MVCForum.Website.Areas.Admin.ViewModels.RecruitmentViewModel
@{
    ViewBag.Title = "Sửa thông tin tuyển dụng";
    ViewBag.ImageUploadType = "forumimageinsert";
}

@Html.Partial("_RecruitmentNavButtons")

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("UpdateRecruitment", "Common", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false)
            @Html.HiddenFor(model => model.Id)
            @Html.AntiForgeryToken()

            @Html.Partial("_RecruitmentFields", Model)

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Update" />
                <a href="@Url.Action("DeleteRecruitment", new { id = Model.Id })" class="btn-mvc btn-mvc-large" role="button">Xóa</a>
            </div>
        }

    </div>
</div>