@model MVCForum.Website.ViewModels.ChangePasswordViewModel

@*@{
    Layout = "~/Views/Shared/_LayoutFullWidth.cshtml";
    ViewBag.Title = Html.LanguageString("Members.ChangePassword.Title");
}

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post, new { @class = "form-forgotpassword" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>@ViewBag.Title</legend>

                <p>
                    @string.Format(Html.LanguageString("Members.ChangePassword.Text"), Membership.MinRequiredPasswordLength)
                </p>

                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <div class="submit-holder">
                    <button type="submit" class="btn-mvc-green btn-mvc-large">@Html.LanguageString("Buttons.ChangePassword")</button>
                </div>
            </fieldset>

        }
    </div>
</div>*@


@{
    Layout = "~/Views/Shared/Frontend/_LayoutBenhvien.cshtml";
    ViewBag.Title = Html.LanguageString("Members.Register");
}



        <!--Main Content start-->
  

    <!--=============ĐĂNG-KÝ==============-->
    <div class="box-layout">
      
       
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-xs12 col-sm-12 col-md-2"></div>
                        <div class="col-xs-12 col-sm-12 col-md-8">

                            <div data-mh="sameHeight-homepage">
                                <h2 class="des-title"> ĐỔI MẬT KHẨU</h2>
                                <p>
                                    @string.Format(Html.LanguageString("Members.ChangePassword.Text"), Membership.MinRequiredPasswordLength)
                                </p>
                                @using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post, new { @class = "form-forgotpassword" }))
                                {
                                    @Html.ValidationSummary(true)
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="right-on">

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.OldPassword)
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Mật khẩu cũ" })
                                                @Html.ValidationMessageFor(m => m.OldPassword)

                                            </div>
                                            <div class="form-group">
                                              @Html.LabelFor(m => m.NewPassword)
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control",@placeholder = "Mật khẩu mới" })
                                            @Html.ValidationMessageFor(m => m.NewPassword)

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ConfirmPassword)
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control",@placeholder = "Nhập lại Mật khẩu mới" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)

                                            </div>
                                            
                                           
                                            <button type="submit" class="btn btn-primary pri">Thay đổi</button>

                                        </div>

                                    </div>
                                }
                            </div>
                            <div class="col-xs12 col-sm-12 col-md-2"></div>
                            <!--==========END-ĐĂNG KÝ===============-->
                        </div>
                    </div>
                </div>
            </section>
       

        <!--Main Content end-->
    </div>
